<nav aria-label="main navigation" class="navbar is-link" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('app_home') }}">Picterest</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="container">
        <div class="navbar-menu" id="mainNavbar">
            <div class="navbar-end">
                {% if app.user %}
{#                    <a class="navbar-item" href="{{ path('app_account') }}">Account</a>#}
                    <a class="navbar-item" href="{{ path('app_logout') }}">Logout</a>
                    <a class="navbar-item" href="{{ path('pin_create') }}">New Pin</a>
                {% else %}
{#                    <a class="navbar-item" href="{{ path('app_register') }}">Register</a>#}
                    <a class="navbar-item" href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>