{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <article>
        <h1>{{ pin.title }}</h1>
        <p>{{ pin.description }}</p>
    </article>


    <a href="{{ path('pin_edit', {'id': pin.id}) }}">Edit</a>
    <a href="#" id="deleteButton">Delete</a>
    <a href="{{ path('app_home') }}">Go Back</a>

    <form action="{{ path('pin_delete', {'id': pin.id}) }}" class="is-hidden" id="deleteForm">
        <input name="_method" type="hidden" value="DELETE">
    </form>
{% endblock %}

{% block scripts %}
    <script>
        document
            .getElementById('deleteButton')
            .addEventListener('click', e => {
                e.preventDefault();
                confirm('Are you sure ?') && document.getElementById('deleteForm').submit();
            });
    </script>
{% endblock %}